<!DOCTYPE html>
<html>

<head>

<title>Audit Logs</title>

<link rel="stylesheet"
href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">

</head>


<body>


<div class="container mt-5">


<h1>
Audit Logs
</h1>



<table class="table">


<tr>

<th>
Action
</th>

<th>
Target
</th>

<th>
Time
</th>

</tr>



{% for log in logs %}


<tr>

<td>
{{ log.action }}
</td>


<td>
{{ log.target }}
</td>


<td>
{{ log.created_at }}
</td>


</tr>


{% endfor %}



</table>


</div>


</body>

</html>