<!DOCTYPE html>
<html>

<head>

<title>Customers</title>

<link rel="stylesheet"
href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">

</head>


<body>


<div class="container mt-5">


<h1>
Customers
</h1>


<form>

<input class="form-control"
name="search"
placeholder="Search customers">

</form>


<table class="table mt-4">


<tr>

<th>Name</th>

<th>Email</th>

<th>Status</th>

<th></th>

</tr>


{% for customer in customers %}

<tr>

<td>
{{ customer.name }}
</td>


<td>
{{ customer.email }}
</td>


<td>

{% if customer.banned %}

Banned

{% else %}

Active

{% endif %}

</td>


<td>

<a class="btn btn-dark btn-sm"
href="{{ url_for('admin.customer_detail', id=customer.id) }}">

View

</a>

</td>


</tr>


{% endfor %}


</table>


</div>


</body>

</html>