<!DOCTYPE html>
<html lang="en">

<head>

<title>Create Owner | RSG Software</title>

<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">

</head>


<body class="bg-light">


<div class="container mt-5" style="max-width:500px;">


<div class="card shadow">

<div class="card-body">


<h3 class="mb-4">
Create Owner Account
</h3>



{% with messages = get_flashed_messages(with_categories=true) %}

{% for category,message in messages %}

<div class="alert alert-{{category}}">
{{message}}
</div>

{% endfor %}

{% endwith %}



<form method="POST">


<div class="form-group">

<label>
Username
</label>

<input
class="form-control"
name="username"
required>

</div>



<div class="form-group">

<label>
Email
</label>

<input
class="form-control"
name="email"
type="email"
required>

</div>



<div class="form-group">

<label>
Password
</label>

<input
class="form-control"
name="password"
type="password"
required>

</div>



<button class="btn btn-dark btn-block">

Create Owner

</button>


</form>



</div>

</div>


</div>


</body>
